<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Login</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
										<!--	<li><a href="register.html">Sign Up</a></li>
											<li><a href="download.html">Download</a></li>
											<li><a href="download_app.html">Download our Android App</a></li> -->
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Login</h2>
							<center>
								<form action="/confic/menu" method="post">
								{% csrf_token %} 
										<label for="input_username" style="color: white;">Benutzername:<br/>	
											<input type="text" name="input_username" id="input_username" value="" style="width:30%;"/>
										</label>
											
										<label for="input_password"style="color: white;">Passwort:<br/>	
											<input type="password" name="input_password" id="input_password" value="" style="width:30%;"/>
										</label>		
										<input type="submit" value="Anmelden" class="button special fit" style="width:30%;"></a>
								</form>
								{% if login_label %}
									<label id="label_login">{{login_label}}</label> 
								{% endif %}
							</center>
						</div>
					</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
