<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auswahlmenü</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/navibar.css">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Header -->
	<ul>
		<li><a class="active" onClick="history.go(-1);return true;" >Zurück</a></li>
		<li id="navTitle">Auswahlmenü</li>
		<li id="navLogout"><a href="#logout">Logout</a></li>
		<li id="navUser">User{}</li>
	</ul> 
	
	
	<!-- Body -->
	<div class="row">
		<div class="col-sm-12" style="padding-top: 15%;">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-3">
			<a href="umfrage_designen.html">
				<div class="panel panel-default" style="padding-bottom: 50px; padding-top: 50px; background-color: #efefef;">
					<div class="panel-body"><center><h4>Umfrage gestalten</h4></center>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="umfrage_starten.html">
				<div class="panel panel-default" style="padding-bottom: 50px; padding-top: 50px; background-color: #efefef;">
					<div class="panel-body"><center><h4>Umfrage starten</h4></center>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-3">
			<a href="laufende_umfragen.html">
				<div class="panel panel-default" style="padding-bottom: 50px; padding-top: 50px; background-color: #efefef;">
					<div class="panel-body"><center><h4>Laufende Umfragen</h4></center>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="abgeschlossene_umfragen.html">
				<div class="panel panel-default" style="padding-bottom: 50px; padding-top: 50px; background-color: #efefef;">
					<div class="panel-body"><center><h4>Abgeschlossene Umfragen</h4></center>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
		</div>
	</div>

</body>
</html>