ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	 color: white;
	 padding: 14px 16px;
	 text-align: center;

 }

li a {
    display: block;
    color: white;
    text-align: center;
    
    text-decoration: none;
}

li b {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	position: center;
}

li a:hover {
    background-color: #111;
}
#navZurück {
	
}
#navUser {
	float: right;
}
#navLogout {
	float: right;
}
#navTitle {
	padding-left: 40%;
}
